*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
    color:white;
}

header{
    margin-top:-25px;
    
}

.head {
    display: flex;
    margin-bottom: 30px;
    font-size: 30px;

}



.head .logo img {
    width: 90px;
    height: 90px;
    margin-top: 15px;
}


.head1 h1 {
    font-size: 48px;
    margin-top: 35px;

}


.nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: rgb(13, 50, 51);

}

.nav li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav li a:after {
    content: '';
    position: absolute;
    background-color: rgb(19, 156, 94);
    width: 0;
    height: 4px;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.nav li a:hover:after {
    width: 100%;
}



.nav .dropdown .scroll {
    display: none;
    padding-bottom: 8px;
}

.nav .dropdown:hover .scroll {
    display: block;
    position: absolute;
    margin-top: 1px;
    padding-top: 14px;
    margin-bottom: 15px;
}

.scroll ul {
    display: block;
    padding-right: 16px;

}

.scroll ul li {
    text-align: center;

}

.scroll ul li:nth-child(1) {
    padding-bottom: 12px;
}

.scroll ul li:nth-child(2) {
    padding-top: 12px;
}

.nav i {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.nav .mobnav {
    display: none;
}

              

.headH{
    margin-left:135px;
    margin-top:80px;
    margin-bottom:30px;
    font-size:30px;
}

.headH::before{
    content:"";
    position:absolute;
    width:110px;;
    height:12px;
    background-color:rgb(7, 141, 105);
    margin:-18px;
    margin-left:7px;
   
}

/*section-1*/
.section-x{

    width:100%;
    height:80vh;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
    
}



.section-x .pic img{
    width:500px;
    height:500px;
    border-radius: 20px;
    margin-left:20px;
    margin-top:10px;
    box-shadow:0 0 10px rgb(25, 26, 25),
    0 0 20px rgb(25, 26, 25),
    0 0 50px rgb(25, 26, 25);
    
    
}

.about{
    
    padding: 60px;

}

.about .about1{
    font-size: 30px;
    
   
}

.about .about1 h2:before{
    content:"";
    position:absolute;
    width:110px;;
    height:12px;
    background-color:rgb(7, 141, 105);
    margin:-22px;
    margin-left:2px;
}

.about .about2{
    font-size: 20px;
    padding: 20px 0;
}

.about .about2 h3{
    color:rgb(21, 172, 142);
}

.about .about3{
    font-size: 20px;
    padding: 20px 0;
}
.about .about3 h3{ 
    color:rgb(21, 172, 142);
}


.choose{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:60px;
    font-size:28px;
}

/*section-y*/

.section-y{
    background-size: cover;
    background-position: center;
    height: 700px;
}
.Include-x{
    padding:20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}

.box-x{
    background-color: rgb(21, 172, 142,0.6);
    padding: 20px;
    margin: 10px;
    width:500px;
    height: 400px;
    border-radius: 30px;
    transition:0.4s;
}


.box-x img{
    border-radius: 100px;
    border:1px solid rgb(25, 118, 99) ;
    box-shadow:0 0 10px rgb(21, 172, 142),
                  0 0 20px rgb(21, 172, 142),
                  0 0 50px rgb(21, 172, 142),
                  0 0 10px rgb(21, 172, 142),
                  0 0 20px rgb(21, 172, 142),
                  0 0 50px rgb(21, 172, 142);
    width:200px;
    height: 200px;
}

.box-x h3{
    color: rgb(0, 0, 0);
    padding-top:15px;
    font-size:25px;
    font-weight: 2000;
}

.box-x p{
    font-size:18px ;
    padding:8px;
    color: white;
    font-weight: 1000;
}




/*section-3*/



.connect{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:150px;
    font-size:33px;
}


.contact1{
    margin-left:135px;
}

.contact1::before{
    content:"";
    position:absolute;
    width:110px;;
    height:12px;
    background-color:rgb(7, 141, 105);
    margin:-22px;
    margin-left:2px;
}

.contact1 h3{
    font-size:30px; 
    margin-bottom:15px; 
}

.contact1 p{
    font-size:25px;
    
}

.group{
    display: flex;
    padding:10px;
}

.group .details{
    padding-left:10px;
}

.contactinfo{
    margin-left:135px;
    margin-top:50px;
    font-size: 20px;
}

.icon i{
    border-radius:30px;
    border:2px solid rgb(7, 141, 105);
    padding:10px;
}




.data .inputa{
    display:flex; 
    padding-bottom:30px;
}


.data .inputb{
    display:flex;  
    padding-bottom:30px;
}

.data .inputc{
    display:flex;  
    padding-bottom:30px;
}

.data .inputd{
    display:flex;
    padding-bottom:30px;  
}

.data input , form textarea{
    width:100%;
    font-size:15px;
    background-color:black; 
    color:white;
    border:none;
    border-bottom:2px solid rgba(255 , 255, 255, 0.1);
    outline:none;
    
}

.data{
    margin-left:960px;
    margin-top:-260px;
}

.data.insert{
    padding:20px;
}

.data textarea{
    width:410px;
    height:150px;
    display:block;
}

textarea::-webkit-scrollbar{
    width:5px;
}

textarea::-webkit-scrollbar-track{
    background-color: rgb(50, 53, 52);
    border-radius:10px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgb(7, 141, 105);
    border-radius:10px;
}


.insert{
    position: relative;
    margin-bottom:30px;
    margin-left:10px;

}

.insert label{
    position: absolute;
    left:3px;
    top: -12px;
    font-size:17px;
    transition:0.4s;
}

.insert input:focus~ label, .insert textarea:focus~ label{
    transform:translateY(-30px);
    color: rgb(7, 141, 105);
}

.inputd .insert button{
    background-color:rgb(7, 141, 105);
    border: 1px solid rgb(7, 141, 105);
    border-radius: 30px;
    padding:10px;
}

.inputd .insert button:hover{
    background-color: black;
    color: rgb(7, 141, 105) ;
    border:1px solid rgb(7, 141, 105) ;
}




footer{
    margin-top:50px;
}
footer .container{
    background-color: black;
}

.row{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(13, 50, 51);
    padding:30px 0;
}

.column ul{
        list-style: none;
}

.column ul li a{
    font-size:19px;
    text-decoration: none;
    color:white;
}

.column ul li a:hover{
    color:black;
    font-weight: bold;
}

.column h4{
    font-size:24px;
    margin:30px 0;
    position: relative;
}

.column h4:before{
    content: '';
    width:80px;
    height:4px;
    position: absolute;
    background-color: rgb(99, 185, 158);
    bottom:-10px;
}

.column:nth-child(4){
    margin-top:30px;
}

.column .news input{
    padding:7px;
}

.column .news button{
    padding:10px;
    background-color: rgb(19, 156, 94);
    color:white;
    border:1px solid rgb(13, 50, 51);
    border-radius:8px;
}

.column .news button:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(19, 156, 94);
}

.column .inform h3{
    font-size: 24px;
    margin-bottom: 20px;
}


.container .copyright p{
    text-align: center;
    margin-top:60px;
    background-color: rgba(255, 255, 255, 0.1);
    padding:8px 0;
}

.social{
    margin-top: 30px;
}
.socialmedia h4{
    font-size: 20px;
}

.socialmedia .icons{
    margin-top:-30px;
}

.socialmedia .icons i{  
    padding:6px;
    font-size:26px;
    background-color: rgb(7, 141, 105);
    border:1px solid rgb(7, 141, 105) ;
    border-radius: 6px;
}

.socialmedia .icons i:hover{
    background-color: black;
    color: rgb(7, 141, 105) ;
    border:1px solid rgb(7, 141, 105) ;
}






@media (max-width:1100px) {

    .head {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .nav i {
        display: block;
        margin-top: 30px;
        font-size: 30px;
        float: right;
        margin-right: 50px;
        margin-top: -83px;
    }

    .nav .main-nav {
        display: none;
    }

    .nav .mobnav {
        display: block;
        top:92px;
    }

    #click:checked~.menu-btn i::before {
        content: "\f00d";
    }

    .nav ul {
        position: fixed;
        top: 120px;
        background: rgb(20, 67, 67);
        left: -110%;
        height: 100vh;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        display: block;
        list-style-type: none;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;

    }

    .nav ul li {
        width: 100%;
        margin: 35px 0;
    }

}


@media (max-width:400px) {
    .row {
        flex-direction: column;
        padding-left: 5%;
    }

    .news, .icons, .socialmedia { 
        text-align: center;
    }

    .container .copyright p{
        margin-top: 0px;
    }
}

@media (max-width: 400px) {

    .head1 h1 {
    margin-top: 20px;
    }
    .head .logo img {
    margin-top: 20px;
    }
    .head {
    margin-left: 0px !important;
    background-color: rgb(13, 50, 51);
    }

    .nav ul {
        padding: 0px;
    }

    .nav i {
        margin-top: -89px!important;
    }

    .column .inform h3 {
        padding-top: 20px;
        text-align: center;
    }
    
    header {
        height:auto ;
    }

    .section-x {
        flex-direction: column;
        margin-top: 30px;
    }

    .about{
        padding:60px 35px;
    }

    .about .about1 h2{
        font-weight: bolder;
        color:rgb(166, 199, 209);
    }

    .about .about1 h2:before{
        display:none;
    }

    .Include-x {
        flex-direction: column;
    }

    .section-x {
        flex-direction: column;
        margin-top: 370px;
        
    }

    .section-x .pic img {
        width: 100%;
        height: auto;
        margin-left:-1px;
        border-radius: 0;
        
    }

    .choose{
        margin-top:320px;
    }

    .choose h3{
        text-align: center;
    }


    .section-z{
        margin-top: 800px;
    }

    .connect{
        margin-bottom:40px;
    }
    .connect h3{
        font-size:34px;
        margin-top:130px;
        padding:0 20px;
    }


    .contact1 {
        margin-left: 20px;
        margin-top:60px;
    }

    .contact1::before{
        display:none;
    }

    .contact1 h3{
        font-size:25px;
        color:rgba(104, 218, 178);
    }

    .contact1 p {
        font-size: 20px;
    }

    .contactinfo {
        font-size:15px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .box-x {
        width:100%;
        height:auto;
    }
        
    .data{
        margin:80px 0 0 0 ;
    }

    .data textarea{
        width:390px;
    }

    .inputd .insert button{
        color:white;
    }



}


.tab {
    display:none;
}

