*{
    margin:0;
    padding:0;
}

body{
   background-color: black; 
   color:white;
}

header{
    margin-top:-25px;
    background: url(../images/TurtleCat1.jpg) rgba(255 , 255, 255, 0.1);
    background-size: cover;
    background-position:center;
    height:600px;
}

.head {
    display: flex;
    margin-bottom: 30px;
    font-size: 30px;
}



.head .logo img {
    width: 90px;
    height: 90px;
    margin-top: 15px;
}


.head1 h1 {
    font-size: 48px;
    margin-top: 35px;

}


.nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: rgb(13, 50, 51);

}

.nav li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav li a:after {
    content: '';
    position: absolute;
    background-color: rgb(19, 156, 94);
    width: 0;
    height: 4px;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.nav li a:hover:after {
    width: 100%;
}



.nav .dropdown .scroll {
    display: none;
    padding-bottom: 8px;
}

.nav .dropdown:hover .scroll {
    display: block;
    position: absolute;
    margin-top: 1px;
    padding-top: 14px;
    margin-bottom: 15px;
}

.scroll ul {
    display: block;
    padding-right: 16px;

}

.scroll ul li {
    text-align: center;

}

.scroll ul li:nth-child(1) {
    padding-bottom: 12px;
}

.scroll ul li:nth-child(2) {
    padding-top: 12px;
}

.nav i {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.nav .mobnav {
    display: none;
}


/*section-i*/

.category{
    padding:30px 0;
}

.category1 h3{
    font-size:30px;
    margin:0 120px;
    margin-top:60px;
}

.category1 h3::before{
    content:"";
    position:absolute;
    width:110px;;
    height:12px;
    background-color:rgb(7, 141, 105);
    margin:-22px;
    margin-left:2px;
   
}

.category2 p{
    margin-left:120px;
    margin-right:500px;
    font-size:23px;
}



.Include1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-top: 40px; 
    
}


.Include1 .space{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    margin:60px ;
    padding: 20px;
    width:400px;
    height: 400px;
    background-color: rgba(255 , 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.4s;
}

.Include1 .space:hover{
    height:600px;
}

.Include1 .space .photo{
    position: absolute;
    top:30px;
    width:250px;
    height:250px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    
}

.Include1 .space .photo img{
    width:250px;
    height:250px;
    border-radius: 10px;
}

.Include1 .space .photo:hover{
    top:-10px;
}



.Include1 .space .content{
    position: absolute;
    text-align: center;
    top:300px;
    width: 100%;
    height:60px;
    overflow: hidden;
    transition: 0.4s;
}

.Include1 .space:hover .content{
    height: 300px;
}

.Include1 .space .content p{
    padding: 10px;
}

.Include1 .space .content a{
    text-decoration: none;
    color:rgb(7, 141, 105);
    border: 1px solid rgb(7, 141, 105);
    border-radius: 20px;
    padding:6px;
}

.Include1 .space .content a:hover{
    color:white;
    border: 1px solid rgb(22, 122, 74);
    background-color: rgb(7, 141, 105); 
}



.Include2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
}


.Include2 .space{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    margin:60px ;
    padding: 20px;
    width:400px;
    height: 400px;
    background-color: rgba(255 , 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.4s;
}

.Include2 .space:hover{
    height:500px;
}

.Include2 .space .photo{
    position: absolute;
    top:30px;
    width:250px;
    height:250px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    
}

.Include2 .space .photo img{
    width:250px;
    height:250px;
    border-radius: 10px;
}

.Include2 .space .photo:hover{
    top:-10px;
}



.Include2 .space .content{
    position: absolute;
    text-align: center;
    top:300px;
    width: 100%;
    height:60px;
    overflow: hidden;
    transition: 0.4s;
}

.Include2 .space:hover .content{
    height: 300px;
}

.Include2 .space .content p{
    padding: 10px;
}

.Include2 .space .content a{
    
    text-decoration: none;
    color:rgb(7, 141, 105);
    border: 1px solid rgb(7, 141, 105);
    border-radius: 20px;
    padding:6px;
}

.Include2 .space .content a:hover{
    color:white;
    border: 1px solid rgb(22, 122, 74);
    background-color: rgb(7, 141, 105); 
}




/*section-iii*/
.section-iii{
    margin-top:60px;
    background:url(../images/water2.jpg);
    background-size:cover;
    background-position:center;
    

    border-radius: 10px;
    box-shadow:0 0 10px rgb(4, 45, 66),
                  0 0 20px rgb(4, 45, 66),
                  0 0 50px rgb(4, 45, 66),
                  0 0 10px rgb(4, 45, 66),
                  0 0 20px rgb(4, 45, 66),
                  0 0 50px rgb(4, 45, 66);
                 
    padding:60px 0;
}
.topic h3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}
table{
    margin-left:165px;
    border-collapse: collapse;
    font-size:25px;
    border:2px solid rgb(18, 108, 65);
    background-blend-mode: darken;
   
}

thead tr{
    background-color: rgb(7, 141, 105);
    color: white;
    text-align: left;
}

table td{
    padding: 20px 20px;
    color: black;
    font-weight: bold;
}

table th{
    font-weight: bolder;
    padding: 20px 20px;
}



table tbody tr{
    border-bottom:2px solid rgb(7, 141, 105,0.5);
}
table tbody tr:nth-child(1){
    background-color: rgb(22, 122, 74);
}

table tbody tr:nth-child(2){
    background-color: rgb(18, 108, 65);
}

table tbody tr:nth-child(3){
    background-color: rgb(22, 122, 74);
}

table tbody tr:nth-child(4){
    background-color: rgb(18, 108, 65);
}

table tfoot tr{
    background-color: rgb(22, 122, 74);
}




footer{
    margin-top:50px;
}
footer .container{
    background-color: black;
}

.row{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(13, 50, 51);
    padding:30px 0;
}

.column ul{
        list-style: none;
}

.column ul li a{
    font-size:19px;
    text-decoration: none;
    color:white;
}

.column ul li a:hover{
    color:black;
    font-weight: bold;
}

.column h4{
    font-size:24px;
    margin:30px 0;
    position: relative;
}

.column h4:before{
    content: '';
    width:80px;
    height:4px;
    position: absolute;
    background-color: rgb(99, 185, 158);
    bottom:-10px;
}

.column:nth-child(4){
    margin-top:30px;
}

.column .news input{
    padding:7px;
}

.column .news button{
    padding:10px;
    background-color: rgb(19, 156, 94);
    color:white;
    border:1px solid rgb(13, 50, 51);
    border-radius:8px;
}

.column .news button:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(19, 156, 94);
}

.column .inform h3{
    font-size: 24px;
    margin-bottom: 20px;
}


.container .copyright p{
    text-align: center;
    margin-top:60px;
    background-color: rgba(255, 255, 255, 0.1);
    padding:8px 0;
}

.socialmedia{
    margin-top: 30px;
}
.socialmedia h4{
    font-size: 20px;
}

.socialmedia .icons{
    margin-top:-30px;
}

.socialmedia .icons i{  
    padding:6px;
    font-size:26px;
    background-color: rgb(7, 141, 105);
    border:1px solid rgb(7, 141, 105) ;
    border-radius: 6px;
}

.socialmedia .icons i:hover{
    background-color: black;
    color: rgb(7, 141, 105) ;
    border:1px solid rgb(7, 141, 105) ;
}



@media (max-width:1100px) {

    .head {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .nav i {
        display: block;
        margin-top: 30px;
        font-size: 30px;
        float: right;
        margin-right: 50px;
        margin-top: -83px;
    }

    .nav .main-nav {
        display: none;
    }

    .nav .mobnav {
        display: block;
        top:92px;
    }

    #click:checked~.menu-btn i::before {
        content: "\f00d";
    }

    .nav ul {
        position: fixed;
        top: 120px;
        background: rgb(20, 67, 67);
        left: -110%;
        height: 100vh;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        display: block;
        list-style-type: none;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;

    }

    .nav ul li {
        width: 100%;
        margin: 35px 0;
    }

    

}


@media (max-width:400px) {
    .row {
        flex-direction: column;
        padding-left: 5%;
    }

    .news, .icons, .socialmedia { 
        text-align: center;
    }

    .container .copyright p{
        margin-top: 0px;
    }
}

@media (max-width: 400px) {

    .head1 h1 {
    margin-top: 20px;
    }
    .head .logo img {
    margin-top: 0px;
    }
    .head {
    margin-left: 0px !important;
    background-color: rgb(13, 50, 51);
    }

    .nav ul {
        padding: 0px;
    }

    .nav i {
        margin-top: -89px!important;
    }

    .column .inform h3 {
        padding-top: 20px;
    }
    
    header {
        height:auto ;
    }

    .Include1 {
        position: relative;
        display: block;
        text-align: center;
    }

    .Include1 .space {
        margin: 0px;
        padding: 0px;
        margin-bottom: 30px;
    }

    .Include2 {
        position: relative;
        display: block;
        text-align: center;
    }

    .Include2 .space {
        margin:0px;
        padding: 0px;
        width:400px !important;
        height:500px !important;
        margin-bottom: 30px;
    }

    .section-i{
        margin-top:-45px;
    }

    .section-iii {
        margin-top: 90px;
        margin-bottom:20px;

    }

    table {
        margin-left:6px !important;
        font-size: 13px !important;  
    }


}

@media (max-width:800px) {
    .nav ul li {
        width: 100%;
        margin: 30px 0;
    }

    .logo {
        padding-top: 20px;
    }
    .nav i {
    margin-top: -84px;
    }
    .desk {
        display: none;
    }
    .tab {
        display: contents!important;
    }
    .column .inform h3 {
        padding-top: 30px;
    }


    
    .category1 h3 {
        margin-left: 50px;
        color:rgb(104, 218, 178);
        font-size: 30px;
    }

    .category2 p {
        margin-top:-2px;
        margin: 0 0 0 50px;
        padding-right: 10%;
    }
    
    .category1 h3::before{
        display: none;
    }

    .Include1 .space {
        margin: 0px; 
        padding: 0px;
        margin-top: 40px;
    }
    .Include2 .space {
        margin: 0px; 
        padding: 0px;
        margin-top: 60px;
        width: 270px;
        height: 400px;
    }

    .Include1 .space .content p {
        font-size:13px;
    }

    .Include2 .space .content p {
        font-size:13px;
    }
    
        

    .section-iii {
        margin-top: 80px;
        margin-bottom:80px;

    }

    table {
        margin-left: 0px;
        font-size: 15px;
        width: 90%;
        
    }

    .container .copyright p {
        margin-top: 0px;
    }

    

}

.tab {
    display:none;
}